.serviceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
    text-align: center;
    box-shadow: 0 0.1rem 0.5rem 0.2rem rgba(0, 0, 0, 0.1);

    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: default;
}

.serviceContainer.dark {
    background-color: var(--dark-bg-color);
}

/* .serviceContainer.light:hover {
    border: 0.2rem solid var(--light-second-color);
}

.serviceContainer.dark:hover {
    border: 0.2rem solid var(--dark-second-color);
} */

.serviceIcon {
    transition: fill 0.3s ease;
}

.serviceIcon.light {
    fill: var(--light-second-color);
}

.serviceIcon.dark {
    fill: var(--dark-second-color);
}

.serviceDescription {
    line-height: var(--step-2);
}


[data-animation='show'] {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;

    --opacity: 1;
    --transform: scaleY(1);
}

[element-animated='first'] {
    transition: 0.6s ease-in-out;
}

[element-animated='second'] {
    transition: 0.6s ease-in-out;
}

[element-animated='third'] {
    transition: 0.6s ease-in-out;
}

[element-animated='fourth'] {
    transition: 0.6s ease-in-out;
}

.unset {
    opacity: var(--opacity);
    transform: var(--transform);
}