.workContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;

    transition: filter 0.6s ease;
}

.workImage.dark {
    filter: brightness(0.7);
}

@media screen and (max-width: 1023px) {

    .workImage {
        aspect-ratio: 2 / 3;
    }

}

@media screen and (max-width: 767px) {

    .workImage {
        aspect-ratio: 1 / 1;
    }

}