.light {
    color: var(--light-text-color);
    background-color: var(--white-color);
}

.dark {
    color: var(--dark-text-color);
    background-color: var(--dark-bg-color);
}

.aboutSection {
    display: flex;
    justify-content: center;
    padding: 4rem 2.5rem;
    width: 100%;
    min-height: 100vh;

    transition: background-color 0.3s ease;
}

.aboutContainer {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    justify-content: center;
    align-content: center;
    gap: 2rem;

    width: 100%;
    max-width: var(--max-width);

    cursor: default;

    /* scroll-margin-top: 2rem; */
    transition: background-color 0.3s ease;

}

.aboutArticleContainer {
    /* display: flex; */
    /* align-items: center; */
}

.aboutArticle {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;

    height: 100%;

    transition: color 0.3s ease;
}

.aboutName,
.aboutProf {
    text-align: end;
}

.aboutImgContainer {
    text-align: center;
    border-radius: 100%;
    margin: 3rem 0;
}

.aboutImg {
    width: 100%;
    height: auto;
    border-radius: 100%;
    object-fit: cover;

    transition: background-color 0.3s ease;
}

.aboutImg.light {
    background-color: var(--gray-light-color);
}

.aboutImg.dark {
    background-color: var(--gray-dark-color);
}

.aboutButton {
    width: fit-content;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 0.7rem;

    text-align: center;
    text-decoration: none;
    font-size: var(--step-0);
    font-weight: bold;

    transition: background-color 0.3s ease;
}

.aboutButton.light {
    color: var(--white-color);
    background-color: var(--light-second-color);
}

.aboutButton.dark {
    color: var(--dark-text-color);
    background-color: var(--dark-second-color);
}

.aboutButton.light:hover {
    background-color: var(--light-first-color);
}

.aboutButton.dark:hover {
    background-color: var(--dark-first-alpha-color);
}

.aboutButton.light:active {
    background-color: var(--light-second-alpha-color);
}

.aboutButton.dark:active {
    background-color: var(--dark-first-alpha-color);
}

.aboutParagraph {
    text-align: center;
    line-height: var(--step-2);
    margin: 0;
}

.containerS {
    width: 100%;
}

.aboutTitleSkill {
    margin: 1rem 0;
    /* font-weight: bold; */
}

.headerContainerS {
    display: flex;
    justify-content: space-between;
    /* font-weight: bold; */

}

.totalPercentage {
    width: 100%;
    height: 1rem;
    transition: background-color 0.3s ease;
}

.totalPercentage.light {
    background-color: var(--light-second-alpha-color);
}

.totalPercentage.dark {
    background-color: var(--dark-second-alpha-color);
}

.totalPercentage.light:hover {
    background-color: var(--light-first-alpha-color);
}

.totalPercentage.dark:hover {
    background-color: var(--dark-first-alpha-color);
}

.finalPercentage {
    position: relative;
    height: 1rem;
    top: -1rem;

    transition: background-color 0.3s ease;
}

.finalPercentage.light {
    background-color: var(--light-second-color);
}

.finalPercentage.dark {
    background-color: var(--dark-second-color);
}

.finalPercentage.light:hover {
    background-color: var(--light-first-color);
}

.finalPercentage.dark:hover {
    background-color: var(--dark-first-color);
}

.percentageDWFE {
    width: 70%;
}

.percentageRJS {
    width: 70%;
}

.percentageDW {
    width: 65%;
}

.percentageCSS {
    width: 65%;
}

.percentageDWBE {
    width: 70%;
}

.percentageJS {
    width: 70%;
}

.percentagePHP {
    width: 60%;
}

.percentageL {
    width: 70%;
}

.percentageTP {
    width: 80%;
}

.percentagePS {
    width: 75%;
}

.percentageA {
    width: 80%;
}


[data-animation='left'] {
    opacity: 0;

    --opacity: 1;
    --transform: translateX(0);
}

[element-animated='firstAbout'] {
    transform: translateX(-100%);
    transition: 1.5s ease;
}

[element-animated='secondAbout'] {
    transform: translateX(-200%);
    transition: 1.7s ease;
}

[element-animated='thirdAbout'] {
    transform: translateX(-300%);
    transition: 1.9s ease;
}

.unset {
    opacity: var(--opacity);
    transform: var(--transform);
}

@media screen and (max-width: 1024px) {
    .aboutSection {
        padding: 2rem 1rem;
    }

    .aboutContainer {
        display: flex;
        flex-direction: column;
    }

    .aboutArticle {
        align-items: center;
    }

    .aboutImg {
        width: 50%;
    }

    .aboutParagraph {
        width: 80%;
    }

    .containerS {
        width: 80%;
    }

    [element-animated='firstAbout'] {
        transform: translateX(-100%);
        transition: 1s ease;
    }
    
    [element-animated='secondAbout'] {
        transform: translateX(-100%);
        transition: 1s ease;
    }
    
    [element-animated='thirdAbout'] {
        transform: translateX(-100%);
        transition: 1s ease;
    }

    .unset {
        opacity: var(--opacity);
        transform: var(--transform);
    }
}

@media screen and (max-width: 700px) {
    .aboutImg {
        width: 80%
    }

    .aboutParagraph {
        width: auto;
    }

    .containerS {
        width: 100%;
    }
}